* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    height: 450px;
    border-radius: 12px;
    box-shadow: 6px 6px 10px #ccc, 6px 6px 20px #ccc;
}

.head {
    background: blueviolet;
    height: 100px;
    border-radius: 12px 12px 0 0;
    position: relative;
}

.head img {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.lower {
    margin-top: 60px;
    text-align: center;
    padding: 10px;
}

.lower h2 {
    font-size: 28px;
    font-weight: 600;
}

.lower h3 {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: darkorchid;
}

.lower p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    margin: 20px;
    padding: 14px 28px;
    border: none;
    text-decoration: none;
    border-radius: 30px;
    color: #fff;
    background: #7900ff;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out; 
}

.btn:hover {
    color: #7900ff;
    background: #fff;
    border: 1px solid #7900ff;
    cursor: pointer;
}